.btn {
	color: #898989
  border: none;
  background-color: inherit;
  padding: 0px 0px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {color: #797979}
.clicky {color: #D9D9D9}

p.showHide {
	display: none;
}

h3 {
	margin: 0;
	display: inline-block
}
