h1.centered {
	text-align: center;
}
h1.title {
	text-align: center;
	font-size: 45px;
	font-family: "Arial Black";
}

p.centered {
	text-align: center;
}

p.left {
	text-align: left;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 29%;
	height: 29%;
}

a.npmLink {
	text-align: center;
}
img.npm {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.columnLeft {
  float: left;
  width: 48%;
}

.columnMid {
  float: middle;
  width: 2%;

}

.columnRight {
  float: right;
  width: 48%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
