body {
	background-color: #3F3F3F;
	font-family: "Lato", sans-serif;
	color: #D9D9D9;
}
a:link {
	color: #D9D9D9;
	text-decoration: underline;
}
a:visited {
	color: #898989;
	text-decoration: underline;
}
a:hover {
	color: #898989;
	text-decoration: none;
}
a:active {
	color: #894949;
	text-decoration: none;
}

.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: #D9D9D9;
	display: block;
}

.sidenav a:hover {
	color: #898989;
}

.main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 18px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

div.showHide {
	display: none;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

pre.code {
	border: 2px solid #1F1F1F;
	background-color: #2F2F2F;
	border-radius: 3px;
}


span.added {
	color: #008000;
	background-color: #3F4F3F;
}

span.removed {
	color: #800000;
	background-color: #4F3F3F;
}

span.key {
	color: #a878d2;
}
span.func {
	color: #286ad1;
}
span.str {
	color: #69b779;
}
span.oper {
	color: #69b7c7;
}
span.prop {
	color: #d46c60;
}
span.highlight {
	background-color: #2F2F2F;
}

span.typeof {
	color: #eb9b34;
}
