.btn {
  border: none;
  background-color: inherit;
  padding: 0px 0px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {color: #797979}
.default {color: #898989}

p.showHide {
	display: none;
}

h3 {
	margin: 0;
	display: inline-block
}

h2.sideButton {
	margin: 0;
	display: inline-block
}
