/* Index Page */
div.background{
	background: url(../images/dndlogo.png) no-repeat scroll center top transparent;
	display: block;
	background-size: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 210px;
}

a.npmLink {
	margin-left: auto;
	margin-right: auto;
	display:block;
	height: 45px;
	width: 276px;
}

img.npm {
	display: block;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.columnLeft {
	text-align: left;
	float: left;
	width: 46%;
}

.columnRight {
	text-align: left;
	float: right;
	width: 46%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 610px) {
	.columnLeft {
		width: 100%;
		text-align: center;
	}
	.columnRight {
		float: left;
		width: 100%;
		text-align: center;
	}
}
