<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
		<title>D&D NPC</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://multarix.github.io/DnD-NPC/favicon/favicon.ico">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" type="text/css" href="https://multarix.github.io/DnD-NPC/modules/css/default.css">
		<link rel="stylesheet" type="text/css" href="https://multarix.github.io/DnD-NPC/modules/css/topNav.css">
		<script defer src="https://multarix.github.io/DnD-NPC/modules/javascript/functions.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
			<div class="topnav" id="topNav">
				<div class="topCenter">
					<a id="home" href="https://multarix.github.io/DnD-NPC/">HOME</a>
					<a id="qa" href="https://multarix.github.io/DnD-NPC/qa">Q & A</a>
					<a id ="changelog" href="https://multarix.github.io/DnD-NPC/changelog">CHANGLOG</a>
					<a id ="class" href="https://multarix.github.io/DnD-NPC/class">CLASSES</a>
					<a href="https://github.com/Multarix/DnD-NPC">GITHUB</a>
					<a href="javascript:void(0);" class="icon" onclick="topNavMobile()">
						<i class="fa fa-bars"></i>
					</a>
				</div>
			</div>
<!-- end header -->
    <div id="wrapper" class="wrapper">
			<script>document.getElementById("wrapper").style.maxWidth = "750px";</script>
			<div style="padding-bottom: 35px">
			<br>
        {{ content }}

    </div>
  </body>
</html>
